[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "SignalsmithStretch"]
	path = SignalsmithStretch
	url = https://github.com/Signalsmith-Audio/signalsmith-stretch.git
